body {
    font-family: 'Roboto';
    margin: 0%;
    box-sizing: border-box;
}

.hero-section, #footer {
    background-color: #1f2937;
    color: #e5e7eb;
}

.hero {
    margin-right: 15vw;
    margin-left: 15vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

.header-logo {
    font-size: 48px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.navbar ul li a {
    color:#e5e7eb;
    text-decoration: none;
}

.hero-content {
    display: flex;
    align-items: center ;
    padding: 10vh 0;
}

.hero-text {
    padding-bottom: 20px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext, .header-link {
    font-size: 18px;    
}

button {
    background-color: #3882f6;
    border-style: none;
    border-radius: 5px;
    color: #e5e7eb;
}

.hero-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 30vh;
    width: 60vw;
}

.hero-placeholder p {
    height: fit-content;
    width: fit-content;
}

.info {
    display: flex;
    flex-direction: column;
}

.info h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.empty-container {
    display: flex;
    justify-content: space-around;
    padding: 0 15vw;
}

.empty-item {
    width: 150px;
    height: 150px;
    border: 2px #3882f6 solid;
    border-radius: 15px ;
}

.subtext-container {
    display: flex;
    justify-content: space-around;
    padding: 0 15vw;
    margin-bottom: 10vh;
}

.subtext-item {
    width: 150px;
    color: slategrey;
    height: fit-content;
    text-align: center;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: #e5e7eb;
    padding: 15vh 20vw;
}

.testimonial * {
    margin: 0%;
    color: #1f2937;
}

.testimonial-quote {
    font-size: 36px;
    font-style: italic;
}

.testimonial-author {
    font-size: 18px;
    font-weight: bold;
}

#footer {
    display: flex;
    justify-content: center;
}